<%= form_with(model: target) do |form| %>
  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
        <% target.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="name" class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <label for="due_at" class="label">Due at</label>
    <div class="control">
      <%= form.date_field :due_at, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <p class="control">
      <%= form.submit class: 'button is-primary' %>
    </p>
  </div>
<% end %>
