<!DOCTYPE html>
<html>
  <head>
    <title>FinancePlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <aside class="menu column is-one-quarter">
            <p class="menu-label">
              General
            </p>

            <ul class="menu-list">
              <li>
                <%= link_to "Home", root_path, class: ('is-active' if current_page?(root_path)) %>
              </li>

              <li>
                <%= link_to "Targets", targets_path,
                            class: ('is-active' if controller_name == 'ResourcesController') %>
              </li>
            </ul>
          </aside>

          <div class="column is-three-quarters">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
